#include <dt-bindings/zmk/matrix_transform.h>

&pro_micro_spi {
    status = "okay";
    cs-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
    shifter: 595@0 {
        compatible = "zmk,gpio-595";
        status = "okay";
        gpio-controller;
        spi-max-frequency = <200000>; // should be 400000 but 200000 for testing
        reg = <0>;
        #gpio-cells = <2>;
        ngpios = <8>; // should be 16 but 8 for testing
    };
};

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        row-gpios
            = <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>             // Row0
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>             // Row1
            ;
            
        col-gpios
            = <&shifter 1 GPIO_ACTIVE_HIGH>                               // QB Pin, col1
            , <&shifter 2 GPIO_ACTIVE_HIGH>                               // QC Pin, col2
        ;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <3>;
        columns = <3>;

        map = <
            RC(0,0) RC(0,1)
            RC(1,0)
        >;
    };
};