#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <dt-bindings/zmk/pointing.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// Sensor Rotate Behavior for Encoders

/ {
    behaviors {
        pointing_scrl: pointing_scrl {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc>, <&msc>;
        };
    };

// Keymap Default Layer Config

      keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <

                &kp N1     &kp N2     &kp N3     &kp N4
                &kp N5     &kp N6     &kp N7     &kp N8

            >;

    sensor-bindings = <&pointing_scrl SCRL_UP SCRL_DOWN &pointing_scrl SCRL_LEFT SCRL_RIGHT>;
    
        };
    };
};