#define ZMK_POINTING_DEFAULT_MOVE_VAL 3000
#define ZMK_POINTING_DEFAULT_SCRL_VAL 120

#include <dt-bindings/zmk/pointing.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define LOWER 1

// Sensor Rotate Behavior for Encoders

/ { 
    behaviors {
        mouse_scroll: sensor_scroll {
        	compatible = "zmk,behavior-sensor-rotate-var";
        	#sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <40>;
		};
    };

    behaviors {
        mouse_move: sensor_move {
        	compatible = "zmk,behavior-sensor-rotate-var";
        	#sensor-binding-cells = <2>;
            bindings = <&mmv>, <&mmv>;
            tap-ms = <40>;
		};
    };

    behaviors {
        cursor_moving: cursor_move {
            compatible = "zmk,behavior-input-two-axis";
            #binding-cells = <1>;
            x-input-code = <INPUT_REL_X>;
            y-input-code = <INPUT_REL_Y>;
            time-to-max-speed-ms = <200>;
            acceleration-exponent = <1>;
        };
    };

// Keymap Default Layer Config

      keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
  
                // ESC           1               2                3             4           5           6           7           8           9           0           -           =            BACK           BACK
                // TAB           Q               W                E             R           T           Y           U           I           O           P           [           ]            \              ENC_SW0
                // CAPS          A               S                D             F           G           H           J           K           L           ;           '           ENTER        ENTER          ENC_SW1
                // LSHFT         LSHFT           Z                X             C           V           B           N           M           ,           .           /           SHIFT        ↑              (Unused) 
                // LCTRL         WIN             FN               ALT           SPC         SPC         SPC         SPC         SPC         FN          `           DEL         ←            ↓              →
    
                &kp ESC          &kp N1          &kp N2           &kp N3        &kp N4      &kp N5      &kp N6      &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS   &kp EQUAL    &kp BSPC       &kp BSPC 
                &kp TAB          &kp Q           &kp W            &kp E         &kp R       &kp T       &kp Y       &kp U       &kp I       &kp O       &kp P       &kp LBKT    &kp RBKT     &kp BSLH       &kp PG_UP
                &kp CAPS         &kp A           &kp S            &kp D         &kp F       &kp G       &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp SQT     &kp RET      &kp RET        &kp PG_DN
                &kp LSHIFT       &kp LSHIFT      &kp Z            &kp X         &kp C       &kp V       &kp B       &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp RSHFT    &kp UP         &none
                &kp LCTRL        &kp LGUI        &mo LOWER        &kp LALT      &mo SPACE   &mo LOWER   &mo LOWER   &mo LOWER   &kp SPACE   &mo LOWER   &kp GRAVE   &kp DEL     &kp LEFT     &kp DOWN       &kp RIGHT 

            >;
            sensor-bindings = <&mouse_move MOVE_UP MOVE_DOWN &mouse_move MOVE_LEFT MOVE_RIGHT>;
        };

        lower_layer {
            display-name = "Top";
            bindings = <

                // ESC           1               2               3              4           5           6           7           8           9           0           -           =            BACK           BACK
                // TAB           Q               W               E              R           T           Y           U           I           O           P           [           ]            \              ENC_SW0
                // CAPS          A               S               D              F           G           H           J           K           L           ;           '           ENTER        ENTER          ENC_SW1
                // LSHFT         LSHFT           Z               X              C           V           B           N           M           ,           .           /           SHIFT        ↑              (Unused) 
                // LCTRL         WIN             FN              ALT            SPC         SPC         SPC         SPC         SPC         FN          `           DEL         ←            ↓              →

                &bt BT_CLR       &kp PG_UP      &kp PG_DN       &none           &none       &none       &none       &none       &none       &none       &none       &none        &none         &sys_reset     &bootloader
                &none            &kp DEL        &kp UP          &kp BSPC        &kp PSCRN   &none       &none       &none       &none       &none       &none       &none        &none         &none          &none
                &none            &kp LEFT       &kp DOWN        &kp RIGHT       &kp RET     &none       &none       &none       &none       &none       &none       &none        &none         &none          &none
                &none            &none          &kp C_VOL_DN    &kp C_VOL_UP    &kp C_MUTE  &none       &none       &none       &none       &none       &none       &none        &none         &none          &none
                &none            &none          &none           &none           &none       &none       &none       &none       &none       &none       &none       &none        &none         &none          &none

            >;
            sensor-bindings = <&mouse_scroll SCRL_UP SCRL_DOWN &mouse_scroll SCRL_LEFT SCRL_RIGHT>;
        };
    };
};